<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheResult="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_SECRET" value="23495nyc2b954y2493yjndc"/>
    </php>
</phpunit>
